body{
	background-color: #242331;
	font-family: helvetica, sans-serif;
	font-weight: 600;
	margin:0;
	padding:0;
	color: #fff;
	text-shadow: 1px 1px 3px #000;
}
section{
	position: relative;
	height:9.8vh;
	margin:0;
	padding:0;
}
.item {
	border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
	-moz-border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
	-webkit-border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
	border: 0;
	-webkit-box-shadow: 0px .2vw .8vh -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px .2vw .8vh -1px rgba(0,0,0,0.75);
	box-shadow: 0px .2vw .8vh -1px rgba(0,0,0,0.75);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7aabbc+0,439aab+100 */
	background: rgb(122,171,188); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(122,171,188,1) 0%, rgba(67,154,171,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(122,171,188,1) 0%,rgba(67,154,171,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(122,171,188,1) 0%,rgba(67,154,171,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aabbc', endColorstr='#439aab',GradientType=0 ); /* IE6-9 */
	font-size: 4.5vh;
	padding: 1.5vh 1.5vw;
	text-align: left;
	margin: 1.5vh 1vw 1.5vh 1vw;
	height: 5vh;
	z-index: 1;
	width: 95vw;
	position: absolute;
	transform-origin: 0px 0px;
	transition: transform 0s ease .28s;
	transform: rotateX(90deg);
}
.item.active {
	transform-origin: 0px 0px;
	transform: rotateX(0deg);
	transition: transform .3s ease;
	z-index: 2;
} 
.bigword{
	font-weight: 800;
	color:#F2FDED;
}
.time{
	float:right;
	font-weight: 600;
	padding-top:2.5vh;
	text-align: right;
	font-size: 2.5vh;
}
.icon img{
	background-color: rgba(0, 0, 0, .45);
	border-radius: 1.25vh 1.25vh 1.25vh 1.25vh;
	-moz-border-radius: 1.25vh 1.25vh 1.25vh 1.25vh;
	-webkit-border-radius: 1.25vh 1.25vh 1.25vh 1.25vh;
	-webkit-box-shadow: 0px .2vw .8vh -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px .2vw .8vh -1px rgba(0,0,0,0.75);
	box-shadow: 0px .2vw .8vh -1px rgba(0,0,0,0.75);
	border: 1px solid black;
	float: left;
	height: 5vh;
	width: 5vh;
	margin-right:1.2vw;
	margin-left:-.3vw;
	margin-top: -.3vh;
}
